<main class="home" style="background-color: #121212;">
    <div class="container w-100 pt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center texto">Sejam bem vindos!</h1>
            </div>
        </div>
    
        <div class="row mt-5 mb-4">
            <div class="col-md-12">
                <p class="text-justify texto mr-0">
                    Desde criança, sempre fui um investigador nato, apaixonado por descobrir como as coisas funcionam e muito cedo, virei um fã de tecnologia que estava preparado pra saber desse mundo.

                    Agora mais velho, tenho oportunidade de ir atrás do conhecimento para entender boa parte do que despertou minha curiosidade e a partir do que aprendi e venho aprendendo, acredito que seja possível transmitir uma parte desse conhecimento que venho adquirindo em um local 
                    público para quem está começando na área ou quer uma mãozinha em algo que ache relevante. 😉
                </p>
            </div>
        </div>
    
    </div>
    
    
    
    
</main>


<div class="parallax"></div>

<div class="container-fluid">
    <div class="row mt-5" style="background-color: #121212;">
        <div class="col-md-12 d-flex justify-content-center py-5">
            <button class="btn btn-outline-light text-uppercase font-weight-bold" routerLink="/feed">Ver o feed</button>
        </div>
    </div>
</div>
